<h1>Books</h1>

<% @books.each do |book| %>

<th>Title</th>
<span>
  <%= link_to book.title, book_path(book.id) %>
</span>

<th>Body</th>
<span><%= book.body %></span>

 <%= link_to "Show", book_path(book) %>
 <%= link_to "Edit", edit_book_path(book) %>
 <%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure?" %>
<% end %>


